@mixin absolut-center {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  transform: translate(-50%, -50%);
}

@mixin piece($color) {
  &::before {
    cursor: pointer;
    content: "";
    width: 70%;
    height: 70%;
    border-radius: 100%;
    background-color: $color;
    border: 2px solid black;

    @include absolut-center;
  }

  &::after {
    cursor: pointer;
    content: "";
    width: 55%;
    height: 55%;
    border-radius: 100%;
    background-color: $color;
    border: 2px solid black;

    @include absolut-center;
  }
}
